@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>The following should output 3:00:00. It does so when rendering from server. However, when client side webassembly code is loaded and takes over, it displays 2:00:00.</p>
@Offset 


@code
{
    private DateTimeOffset Date { get; set; } = new DateTimeOffset(2024, 10, 31, 9, 0, 0, TimeSpan.FromHours(3));
    private TimeSpan Offset { get; set; }

    protected override void OnInitialized()
    {
        var timezone = TimeZoneInfo.FindSystemTimeZoneById("Africa/Cairo");
        Offset = timezone.GetUtcOffset(Date.DateTime);
        base.OnInitialized();
    }
}
